

.menuicon {
  display: flex;
  position: fixed;
  top: 2rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
mix-blend-mode: difference;
}

.menuicon2 {
  display: flex;
  position: fixed;
  top: 2rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.menuicon2 div {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
.menuicon div {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}


@media only screen and (max-width: 600px) {
  .menuicon {
    display: flex;
  }
}
