.featurecontainer{

    width: 80%;
    margin: auto;
}
.feature{
    display: flex;
    align-items: center;
}

.circle {
    padding: 15px;
    margin-right: 25px;
    color: #FFF;
    border-radius: 50%;
    background-color: #03A9F4;
    display: grid;
    place-items: center;
}